.env*
!.env.example.

.gradle/
/.gradle
**/.gradle/

build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/
.classpath
.project
.settings/


*.class
*.jar
*.war
*.ear
target/
dependency-reduced-pom.xml


output/
logs/
*.log
temp/